# --- Entorno Virtual ---
# No subir el entorno virtual porque es local y pesado
venv/
env/
ENV/

# --- Cache de Python ---
# Archivos temporales generados al ejecutar el código
**/__pycache__/
*.py[cod]
*$py.class

# --- IDEs (Visual Studio Code) ---
# Configuraciones de tu editor que no afectan a otros
.vscode/
.history/

# --- Persistencia de Datos ---
# Si deseas que el profesor reciba el JSON con datos de prueba, 
# COMENTA las siguientes líneas con un # al inicio. 
# Si quieres que la carpeta de datos esté vacía en GitHub, déjalas así:
# data/*.json

# --- Archivos de sistema ---
# Archivos basura generados por Windows
Thumbs.db
desktop.ini