{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card shadow-sm border-0">
            <div class="card-header bg-dark text-white">Registrar Nuevo Camper</div>
            <div class="card-body">
                <form action="/campers" method="POST">
                    <div class="mb-3">
                        <label class="form-label">Identificación (ID)</label>
                        <input type="text" name="id_camper" class="form-control" required placeholder="Cédula o TI">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nombre Completo</label>
                        <input type="text" name="name" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Correo Electrónico</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-warning w-100">Registrar en Base de Datos</button>
                </form>
            </div>
        </div>
    </div>
    
    <div class="col-md-8">
        <h3>Directorio de Campers</h3>
        <div class="table-responsive bg-white p-3 border rounded shadow-sm">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for camper in campers %}
                    <tr>
                        <td><span class="badge bg-light text-dark">{{ camper.id }}</span></td>
                        <td>{{ camper.name }}</td>
                        <td>{{ camper.email }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}